<h2>Create your own</h2>
<form action="/create" method="post" accept-charset="utf-8">
  <label for="width">Width</label>
  <input type="text" name="width" value="" id="width">
  <label for="height">Height</label>
  <input type="text" name="height" value="" id="height">
  <label for="background_colour">Background colour</label>
  <input type="text" name="background_colour" value="" id="background_colour">
  <label for="line_colour">Line colour</label>
  <input type="text" name="line_colour" value="" id="line_colour">
  <label for="text_colour">Text colour</label>
  <input type="text" name="text_colour" value="" id="text_colour">
  
  <label for="text">Text</label>
  <input type="text" name="text" value="" id="text">
  
  <input type="submit" name="submit" value="submit" id="submit">
</form>