<p>
  <span>
    &copy;2010
    <a href='http://marknormanfrancis.com/'>Mark Norman Francis</a>.
  </span>
  Code is available on 
  <a href='http://github.com/norm/Image-Placeholder'>github</a>,
  and includes a command-line version and instructions
  for self-hosting in offline situations
  (such as when in a <a href='http://devfort.com/'>fort</a>).
</p>
<p>Images use 
  <a href='http://www.josbuivenga.demon.nl/museosans.html'>Museo Sans</a>
  by <a href='http://www.exljbris.nl/'>Jos Buivenga</a>.
</p>
