<p>
  <span>
    &copy;2010
    <a href='http://marknormanfrancis.com/'>Mark Norman Francis</a>.
  </span>
  Using <code>Image::Placeholder 1.0</code>; available from
  <a href='http://search.cpan.org/dist/Image-Placeholder/'>CPAN</a>
  and forkable on
  <a href='http://github.com/norm/Image-Placeholder'>github</a>.
  Module comes with a command-line version, and README on github
  contains a basic guide to self-hosting in offline situations
  (such as when in a <a href='http://devfort.com/'>fort</a>).
</p>
<p>Images use 
  <a href='http://www.josbuivenga.demon.nl/museosans.html'>Museo Sans</a>
  by <a href='http://www.exljbris.nl/'>Jos Buivenga</a>.
</p>
